
@media screen and (max-width:1440px) {
    * {
        margin: 0;
        padding: 0;
    }

    img {
        max-width: 100%;
        margin-left: 20px;
    }

    body {
        padding: 20px;
        font-family: 'Noto Sans JP', sans-serif;
        background-color: #F9F9F9;
    }

    li {
        list-style: none;
        line-height: 2.1em;
        font-size: 14px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .menu {
        margin-top: -100px;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    h1 {
        letter-spacing: 0.2em;
    }

    p {
        letter-spacing: 0.1em;
        font-size: 16px;
    }

    .container {
        display: flex;
    }


    .left {
        display: flex;
        width: 42%;
    }

    .name {
        padding-left: 160px;
        padding-top: 50px;
        position: fixed;
    }

    .right {
        width: 60%;

    }

    .huri {
        letter-spacing: 0.6em;
    }


    .inner {
        padding-top: 80px;
        padding-left: 10px;
        width: 80%;
    }

    .profile {
        display: flex;
        align-items: center;
        margin-bottom: 140px;
    }

    .born {
        margin-top: 120px;
        margin-left: 20px;
    }

    .text:hover{
        color: #5ee0ec;
    }

    .menu {
        position: fixed;
        bottom: 20px;
    }


    .greenball {
        position: absolute;
        margin-left: 260px;
        margin-top: 140px;
        z-index: -1;
    }


    .kasen {
        display: inline-block;
        padding: 4px 12px;
        border-bottom: solid 2.5px #9AD3F3;
    }

    p.kasen {
        margin-top: -20px;
        font-weight: bolder
    }

    .section {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        background-color: #F4F2F2;
        border-radius: 20px;
        padding: 30px;
        align-items: flex-start;
        margin-bottom: 100px;
    }

    .section p {
        line-height: 2em;
        padding-top: 7px;
    }

    .note {
        margin-top: 30px;
        margin-bottom: -150px;
        width: 650px;
        height: 650px;
    }

    .cafe-fofa {
        margin-top: 90px;
        margin-left: -15px;
        margin-bottom: 50px;
    }

    .sunaneko {
        width: 350px;
        width: 350px;
        margin-top: 40px;
        margin-left: -20px;
    }
}

    @media screen and (max-width:480px) {
        article.section {
            width: 410px;
            margin-left: 190px;
            padding: 40px;
        }

        .name {
            margin-top: 100px;
            margin-left: -50px;
        }

        img {
            margin-left: 215px;
            width: 120%
        }

        img.greenball {
            width: -40%;
            height: -40%;
        }

        .note {
            width: 300px;
            margin-left: -200px;
        }

        .note p {
            margin-left: 180px;
            white-space: nowrap
        }

        .cafe-fofa {
            width: 280px;
            margin-top: 80px;
            margin-left: -210px;
        }

        .cafe-fofa p {
            margin-left: 180px;
            white-space: nowrap
        }

        .sunaneko {
            margin-left: -220px;
        }

        p.born {
            white-space: nowrap
        }

    }
